<!DOCTYPE html>
<html lang="en">
@include('head')
<body class="air__layout--cardsShadow air__layout--grayBackground air__menuLeft--toggled">
  <div class="initial__loading"></div>
  <div class="air__layout air__layout--hasSider">
    {{--  @include('chat')  --}}
    @include('menu-left')
    {{--  @include('sidebar')  --}}
    <div class="air__layout">
      <div class="air__layout__header">
        @include('topbar')
      </div>
      <div class="air__layout__content">
        <div class="air__utils__content">
          @!section('content')
        </div>
      </div>
      <div class="air__layout__footer">
        @include('footer')
      </div>
    </div>
  </div>
  
</body>
</html>